*bod{
    margin: 0px;
    padding: 0px;
}
#top{
width: 980px;
height: 100px;
background-color: navy;
margin: auto;
}
#logo{
width: 200px;
height: 100px;
background-color: black;
float: left
}
#menu{
    width: 780px;
    height: 100px;
    background-color: aqua;
    float: right;
}
#banner{
    width: 780px;
    height: 400px;
    background-color: blue;
    margin: auto;
}